

.container-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-text {
  width: 40%;
  text-align: left;
}

.description {
  font-size: 1.2rem;
}

.about-image {
  width: 50%;
}

.about-image img {
  width: 75%;
}

.container-course {
  margin: 0 auto;
  max-width: 1040px;
}

.course-detail {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.course-detail img {
  width: 100px;
  height: auto;
}

.container-random {
  display: flex;
  justify-content: center;
  align-items: center;
}

.random-image {
  width: 50%;
}

.random-image img {
  width: 75%;
}

.random-facts-list {
  width: 45%;
  text-align: left;
  margin-left: 3rem;
}

.random-facts-list .ul {
  list-style: none;
  line-height: 2;
}

.random-facts-list .ul li {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-size: 1.2rem;
}

.skills-list {
  width: 100%;
}

@media screen and (max-width:768px) {
  .about-text h1 {
    font-size: 3.2rem;
  }
  .about-text p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .course-detail {
    flex-wrap: wrap;
    gap: 1.2rem 5.5rem;
    justify-content: center;
  }
  .course-detail img {
    width: 70px;
  }
  .random-facts-list .ul li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .about-image,
  .random-image {
    display: none;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 2.2rem;
  }
  .intro {
    margin-bottom: .6rem;
  }
  .course-detail {
    gap: 1.2rem 3.5rem;
  }
  .random-facts-list {
    width: 100%;
  }
  .random-facts-list h2 {
    margin-bottom: 0.6rem;
  }
}

