.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.contact {
  background-color: rgba(56, 55, 55, 0.514);
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  gap: 1rem;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 1040px;
}

.contact svg {
  font-size: 1.8rem;
}

.contact span {
  font-weight: bold;
  font-size: 1.1rem;
}

.rede_social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  flex-wrap: wrap;
}

.rede_social li {
  width: 45%;
  padding: 1rem;
  background-color: #545252;
  border-radius: 1rem;
}

.rede_social a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 600;
}

.rede_social a:hover {
  opacity: 0.5;
}

.rede_social .linkedin {
  color: #0982c0;
}
.rede_social .instagram {
  color: #ef0074;
}
.rede_social .github {
  color: #000;
}
.rede_social .facebook {
  color: #43609c;
}

.contact-text {
  width: 40%;
}

.contact-text h1 {
  font-size: 4.2rem;
  margin-bottom: .5rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.intro {
  font-size: 1.3rem;
  color: #313131;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.contact-image {
  width: 50%;
}

.contact-image img {
  border-radius: 2rem;
  width: 100%;
}

.form-container {
  max-width: 1040px;
  margin: 0 auto;
}

.title-form {
  width: 100%;
  text-align: left;
}

.title-form h2 {
  margin-bottom: 1.2rem;
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 100;
  color: #545252;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form-header {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-header label {
  display: flex;
  flex-direction: column;
}

.form-header span,
.form-message span {
  text-align: left;
  line-height: 1.5rem;
  color: #747272;
}

.form-header label input {
  padding: .8rem;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.form-header label input,
.form-message textarea {
  font-family: 'Comic Neue', cursive;
  border: 1px solid #949494;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 1rem;
  color: #333333;
}

.form-header label input:focus,
.form-message textarea:focus {
  outline: 2px solid #000;
}

.form-message {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form-message label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-message textarea {
  height: 8.4rem;
  padding: 0.8rem;
}

.btn-send input {
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  float: right;
  background-color: #313131;
  cursor: pointer;
  color: #fdfdfd;
}

.btn-send input:hover {
  opacity: .6;
}

