.container-project {
  margin: 0 2rem;
}

.container-project h2 {
  margin-bottom: 2.5rem;
}

.container-project-detail {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.project-detail {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: .7rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7rem;
  text-decoration: none;
  color: #000;
}

.project-detail img {
  max-width: 1040px;
  width: 100%;
  height: -webkit-fill-available;
}

.btn-project {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #665adb;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #665adb;
  border-radius: 15px;
  box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

}

.btn-project:hover {
  background-color: #fafafa;
  color: #665adb;
  border: 2px solid #665adb;
  box-shadow: 0px 5px 2px 4px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

} 

.btn-github {
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}

.btn-github:hover {
  color: #665adb;
}

.btn-project-pessoal {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #665adb;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #665adb;
  border-radius: 15px;
    box-shadow: 4px 5px 2px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.btn-project-pessoal:hover {
  background-color: #e7e5e5;
  color: #665adb;
  border: 2px solid #665adb;
    box-shadow: 0px 5px 2px 4px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
} 

.container-project-detail-pessoal {
  display: flex;
  justify-content: center;
}

.project-detail-pessoal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: .7rem;
}

.container-project-detail-pessoal {
  margin: 0 auto;
}

.project-pessoal img {
  width: 55%;
}

.project-pessoal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .7rem;
  text-decoration: none;
  color: #000;
}


@media screen and (max-width: 480px) {
  .container-project h2 {
    margin-bottom: 1rem;
  }
  .container-project-detail {
    flex-direction: column;
    align-items: center;
  }
  .project-detail,
  .project-detail-pessoal {
    width: 100%;
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #dddddd;
    padding: .5rem;
    margin: 0 2rem;
  }
  .btn-project,
  .btn-project-pessoal {
    padding: .8rem 1rem;
  }
  .project-detail-pessoal img {
    width: 100%;
  }
}